.c-ct1-logo{
  background: url("../../../resources/images/c-ct1-logo.png") center center no-repeat;
  background-size: 100%;
  width: 153px;
  height: 39px;
  margin: 0 auto;
  margin-top: 64px;
}
.c-ct1-box{
  width: 733px;
  height: 369px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
  border-radius: 4px;
  margin:0 auto;
  margin-top: 63px;
}
.c-ct1b-left{
  background: url("../../../resources/images/c-ct1b-left.png") center center no-repeat;
  background-size: 100%;
  width: 199px;
  height: 190px;
  float: left;
  margin-left: 74px;
  margin-top: 101px;
}
.c-ct1b-right{
  float: left;
  margin-left: 105px;
  margin-top: 59px;
}
.c-ct1br-title{
  font-size: 20px;
  color: #4a4a4a;
}
.c-ct1br-in{
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  width: 300px;
  height: 42px;
  margin-top: 24px;
}
.c-ct1bri-icon1{
  float: left;
  background: url("../../../resources/images/c-ct1bri-icon1.png") center center no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 15px;
}
.c-ct1bri-input{
  font-size: 12px;
  width: 240px;
  height: 39px;
  line-height: 39px;
  float: left;
  margin-top: 1px;
  margin-left: 16px;

  border: none;
  outline: none;
}
.c-ct1bri-icon2{
  float: left;
  background: url("../../../resources/images/c-ct1bri-icon2.png") center center no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 15px;
}
.c-ct1br-txt{
  margin-top: 8px;
  color: #ADB9C1;
  font-size: 12px;
}
.c-ct1br-tl{
  float: left;
}
.icheckbox_square-blue{
  float: left;
  transform: scale(0.7);
}
.c-ct1brtl-s1{
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.c-ct1br-tr{
  float: right;
  font-size: 12px;
  cursor:pointer;
}
.c-ct1br-subbtn{
  background: #29A7E1;
  border-radius: 4px;
  width: 300px;
  height: 42px;
  line-height: 42px;
  margin-top: 19px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.login-check{


}
