.c-content1{
  width: 1022px;
  min-height: 800px;
  margin: 0 auto;
  position: relative;
  word-wrap: break-word!important;
  background-color: #fff;
  padding-left: 50px;
  padding-top: 15px;
  margin-top: 30px;
  padding-bottom: 100px;
}
.c-content1 > pre{
  white-space: pre-wrap!important;
  word-wrap: break-word!important;
}
.c-footer-selecttwo{
  margin-top: 40px;
}
.c-teacher-logout{
  text-align: right;
  margin-top: 2px;
  color: #9B9B9B;
}




