//标准色值
$primary-color : #29A7E1;
$accent-color : #F7B62D;
$danger-color : #F94848;
$success-color : #5DD7A4;
$info-color : #CFD1D6;

//文字颜色
$text-color : #2F2F2F;
$text-gray-color : #9A9CA3;
$text-light-color : #CFD1D6;

$disable-color : #CFD1D6;
$bg-color  : #F3F3F3;


$border-color :#F0F3F4;
