@import "../../../common/skin/var";
.teacher-list {
  .minh320 {
    min-height: 320px;
  }
  font-size: 12px;
  .t-top {
    padding: 12px 0;
  }
  .t-right-span {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #A5A5A5;
    float: right;
    height: 36px;
    line-height: 36px;
  }
  .t-page {
    text-align: center;
    padding: 16px;
  }
  .el-input {
    margin-right: 10px;
    width: 258px;
    vertical-align: top;
  }
}
